/* Generals */
body {
  padding-top: 90px;
}

/* Utilities */

.watergreen {
  background-color: #1ABC9C;
}

/* Typography */
h1 {
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 400%;
}

h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
}


/* Header */
#main-header {
  color: #fff;
}

#main-header .ds_navbar {
  min-height: 90px;
  background-color: #2C3E50;
}

#main-header .ds_navbar a {
  color: #fff;
  line-height: 60px;
  font-weight: 600;
  font-size: 16px;
}

#main-header button {
  margin-top: 22px;
}

#main-header a.navbar-brand {
  font-size: 26px;
  font-weight: 600;
}

#presentation img {
  height: 250px;
}

.white-line {
  position: relative;
  height: 30px;
}

.little-star {
  position: absolute;
  width: 100px;
  background-color: #1ABC9C;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 26px;
}

.white-line::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 4px;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 4px;
}

/* .white-line > div {
  height: 20px;
  height: 20px;
} */
