/* Generals */
body {
  padding-top: 90px;
  font-size: 20px;
}

button {
  color: white;
}

/* Utilities */

.ds_starline {
  position: relative;
  height: 30px;
  margin-bottom: 24px;
  color: #fff;
}

.ds_starline::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 4px;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 4px;
}

.ds_starline > div {
  position: absolute;
  width: 50px;
  background-color: #1ABC9C;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}

.ds_blackstar {
  color: #000;
}

.ds_blackstar::before {
  background-color: #000;
}

.ds_blackstar > div {
  background-color: #fff;
}

.watergreen {
  background-color: #1ABC9C;
}

/* Typography */
h1 {
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 35px;
  margin-bottom: 30px;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
}

h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
}

p {
  font-size: 21px;
  line-height: 26px;
}


/* Header */
#main-header {
  color: #fff;
  margin-bottom: 30px;
}

#main-header .ds_navbar {
  min-height: 90px;
  background-color: #2C3E50;
  border: none;
}

#main-header .ds_navbar a {
  color: #fff;
  line-height: 60px;
  font-weight: 600;
  font-size: 16px;
}

#main-header button {
  margin-top: 22px;
}

#main-header a.navbar-brand {
  font-size: 26px;
  font-weight: 600;
}

/* Header - Presentation */
#presentation > .container {
  height: 490px;
  padding-top: 38px;
  overflow: hidden;
}

#presentation img {
  height: 256px;
}

/* Main - Portfolio */

#portfolio img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

/* Main - About */
#about .container {
  color: #fff;
  padding-top: 38px;
  margin-bottom: 30px;
}

#about a {
  margin: 50px 0 40px;
  background: transparent;
  border-color: #fff;
  color: #fff;
}

/* Main - Contact Me */

#contact-me .form-control {
  height: 60px;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
}

#contact-me textarea.form-control {
  height: 120px;
}

#contact-me ::placeholder {
  font-size: 18px;
  color: #000;
}

#contact-me {
  padding-bottom: 30px;
}

/* Footer - Background #3B546D */
#main-footer {
  padding-top: 50px;
  background-color: #3B546D;
  color: #fff;
}

#main-footer .container > .row > div {
  padding-bottom: 30px;
}

#main-footer ul > li {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}

#main-footer i {
  line-height: 50px;
  font-size: 18px;
  color: white;
}

#main-footer a {
  color: #1ABC9C;
}

#copyright {
  padding: 50px 0;
  background-color: #2C3E50;
  color: #fff;
  font-size: 14px;
}
